<!--_menu 作为公共模版分离出去-->
<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="http://www.wavlink.com">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">Wavlink web管理软件</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <dl id="menu-category" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 分类管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menus-category"><a href="/wavlink/category/list.html" title="文件列表" style="padding-left:8px">分类列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-files" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 产品管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menu-file"><a href="/wavlink/files/list.html" title="产品列表" style="padding-left:8px">产品列表</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<!--/_menu 作为公共模版分离出去-->