<!--_menu 作为公共模版分离出去-->
<aside class="Hui-admin-aside-wrapper">
    <div class="Hui-admin-logo-wrapper">
        <a class="logo navbar-logo" href="http://www.wavlink.com">
            <i class="va-m iconpic global-logo"></i>
            <span class="va-m">Wavlink web管理软件</span>
        </a>
    </div>
    <div class="Hui-admin-menu-dropdown bk_2">
        <dl id="menu-home" class="Hui-menu">
            <dd class="Hui-menu-item-frist">
                <ul>
                    <li><a href="_blank.html" title="首页"><i class="Hui-iconfont">&#xe625;</i>&nbsp; 首页</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-article" class="Hui-menu">
            <dt class="Hui-menu-title"><i class="Hui-iconfont">&#xe616;</i> 文章管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menu-articles"><a href="/{$backendPrefix}/article/list.html" title="产品列表">文章列表</a></li>
                    {if condition="in_array('Category/index',$access)"}
                    <li id="menu-category"><a href="/{$backendPrefix}/article/category/list.html" title="分类管理">分类管理</a></li>
                    {else /}
                    <span title="您没有权限访问该功能">分类管理</span>
                    {/if}
                    <!-- todo:: <li id="menu-tags"><a href="/wavlink/files/list.html" title="标签管理">标签管理</a></li>-->
                </ul>
            </dd>
        </dl>
        <dl id="menu-media" class="Hui-menu">
            <dt class="Hui-menu-title">
                <i class="Hui-iconfont">&#xe613;</i>静态资源
                <i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd class="Hui-menu-item">
                <ul>
                    <li id="menu-pic"><a href="/{$backendPrefix}/static/images/list.html" title="图片">图片</a></li>
                    <li id="menu-video"><a href="/wavlink/files/list.html" title="音视频">音视频</a></li>
                </ul>
            </dd>
        </dl>
        <!--todo :: <dl id="menu-page" class="Hui-menu">-->
            <!--<dt class="Hui-menu-title">-->
                <!--<i class="Hui-iconfont">&#xe626;</i>单页-->
                <!--<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>-->
            <!--</dt>-->
            <!--<dd class="Hui-menu-item">-->
                <!--<ul>-->
                    <!--<li id="menu-page-item"><a href="/wavlink/files/list.html" title="单页">单页</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <!-- todo::<dl id="menu-interaction" class="Hui-menu">-->
            <!--<dt class="Hui-menu-title">-->
                <!--<i class="Hui-iconfont">&#xe622;</i>互动-->
                <!--<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>-->
            <!--</dt>-->
            <!--<dd class="Hui-menu-item">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="#" title="">评论审核</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="#" title="">用户管理</a>-->
                    <!--</li>-->
                    <!--<li></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <dl id="menu-system" class="Hui-menu">
            <dt class="Hui-menu-title">
                <i class="Hui-iconfont">&#xe62e;</i> 系统管理<i
                    class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
            </dt>
            <dd class="Hui-menu-item" id="menu-level">
                <ul>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">语言管理<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item" id="language_manger">
                                <ul>
                                    <li id="language">
                                        {if condition="in_array('Language/index',$access)"}
                                        <a href="/{$backendPrefix}/system/language/list.html" title="">语言列表</a>
                                        {else /}
                                        <span title="您没有权限访问该功能">语言列表</span>
                                        {/if}
                                    </li>
                                    <!--<li>-->
                                        <!--todo:: <a href="#" title="">禁用的语种</a>-->
                                    <!--</li>-->
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">关于我们<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item" id="system-about">
                                <ul>
                                    <li id="about">
                                        <a href="/{$backendPrefix}/system/about/list.html" title="文章列表">文章列表</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">系统设置<i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i>
                            </dt>
                            <dd class="Hui-menu-item" id="system-setting">
                                <ul>
                                    <li class="" id="website_setting">
                                        <a href="/{$backendPrefix}/system/setting.html" title="">站点配置</a>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl class="Hui-menu">
                            <dt class="Hui-menu-title">
                                管理员
                                <i class="Hui-iconfont Hui-admin-menu-dropdown-arrow">&#xe6d5;</i></dt>
                            <dd class="Hui-menu-item" id="menu-manger">
                                <ul>
                                    <li id="permission_group">
                                        {if condition="in_array('PermissionGroup/index',$access)"}
                                        <a href="/{$backendPrefix}/user/permission/group/list.html" title="">权限组</a>
                                        {else /}
                                        <span title="您没有权限访问该功能">权限组</span>
                                        {/if}
                                    </li>
                                    <li id="permission">
                                        {if condition="in_array('Permission/index',$access)"}
                                        <a href="/{$backendPrefix}/user/permission/list.html" title="">权限</a>
                                        {else /}
                                        <span title="您没有权限访问该功能">权限</span>
                                        {/if}
                                    </li>
                                    <li id="role">
                                        {if condition="in_array('Role/index',$access)"}
                                        <a href="/{$backendPrefix}/user/permission/role/list.html" title="">角色</a>
                                        {else /}
                                        <span title="您没有权限访问该功能">角色</span>
                                        {/if}
                                    </li>
                                    <li id="manger">
                                        {if condition="in_array('Manager/index',$access)"}
                                        <a href="/{$backendPrefix}/user/manager/list.html" title="">管理员</a>
                                        {else /}
                                        <span title="您没有权限访问该功能">管理员</span>
                                        {/if}
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
<div class="Hui-admin-aside-mask"></div>
<!--/_menu 作为公共模版分离出去-->