<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/h-ui.admin.pro/css/h-ui.admin.pro.min.css"/>
    <link rel="stylesheet" type="text/css" href="__LIB__/Hui-iconfont/1.0.9/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/h-ui.admin.pro/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/business/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    {block name="seo"}
    <!--/meta 作为公共模版分离出去-->
    <title>h-ui.admin.pro v1.0</title>
    <meta name="keywords" content="h-ui.admin.pro v1.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="h-ui.admin.pro v1.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    {/block}
    {block name="style"}

    {/block}
<body>
{block name="aside"}
{include file="base:aside" /}
{/block}
<div class="Hui-admin-dislpayArrow">
    <a href="javascript:void(0);" onClick="displaynavbar(this)">
        <i class="Hui-iconfont Hui-iconfont-left">&#xe6d4;</i>
        <i class="Hui-iconfont Hui-iconfont-right">&#xe6d7;</i>
    </a>
</div>

<section class="Hui-admin-article-wrapper">
    {block name="nav-header"}
    {include file="base:nav-header"}
    {/block}
    <div class="Hui-admin-article">
        {block name="nav"}
        {/block}
        <article class="Hui-admin-content clearfix">
            {block name="main"}
            <div class="row-24 clearfix" style="margin-left: -12px; margin-right: -12px;">
                <div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6"
                     style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
                    <div class="panel">
                        <div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总销售额：</div>
                        <div class="panel-body" style="padding-bottom: 0; padding-left:24px;padding-right:24px;">
                            <div class="c-primary" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
                                &yen; 9,999,999
                            </div>
                            <div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日销售额</span>
                                <span>&yen; 1,234</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6"
                     style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
                    <div class="panel">
                        <div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总访问量：</div>
                        <div class="panel-body" style="padding-bottom: 0; padding-left:24px;padding-right:24px;">
                            <div class="c-success" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
                                9,999,999
                            </div>
                            <div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日访问量</span>
                                <span>1,234</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6"
                     style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
                    <div class="panel">
                        <div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总会员数：</div>
                        <div class="panel-body" style="padding-bottom: 0; padding-left:24px;padding-right:24px;">
                            <div class="c-danger" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
                                99,999 人
                            </div>
                            <div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日新增会员</span>
                                <span>1,234 人</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-24-xs-24 col-24-sm-12 col-24-md-12 col-24-lg-12 col-24-xl-6"
                     style="padding-left: 12px; padding-right: 12px; margin-bottom: 24px;">
                    <div class="panel">
                        <div class="panel-header" style="padding:15px 24px;font-weight: 400;color:#999;">总文章数：</div>
                        <div class="panel-body" style="padding-bottom: 0; padding-left:24px;padding-right:24px;">
                            <div class="c-warning" style="font-size: 30px;line-height: 38px;padding-bottom: 24px;">
                                99,999
                            </div>
                            <div class="f-14" style="padding: 10px 0;border-top:solid 1px #eee"><span class="c-999">今日新增文章</span>
                                <span>1,234</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-body" 发布>
                    <p class="f-20 text-success">欢迎使用H-ui.admin
                        <span class="f-14">v2.3</span>
                        后台模版！
                    </p>
                    <p>登录次数：18 </p>
                    <p>上次登录IP：222.35.131.79.1 上次登录时间：2014-6-14 11:19:55</p>
                    <table class="table table-border table-bordered table-bg mt-20">
                        <thead>
                        <tr>
                            <th colspan="2" scope="col">服务器信息</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th width="30%">服务器计算机名</th>
                            <td><span id="lbServerName">http://127.0.0.1/</span></td>
                        </tr>
                        <tr>
                            <td>服务器IP地址</td>
                            <td>192.168.1.1</td>
                        </tr>
                        <tr>
                            <td>服务器域名</td>
                            <td>www.h-ui.net</td>
                        </tr>
                        <tr>
                            <td>服务器端口</td>
                            <td>80</td>
                        </tr>
                        <tr>
                            <td>服务器IIS版本</td>
                            <td>Microsoft-IIS/6.0</td>
                        </tr>
                        <tr>
                            <td>本文件所在文件夹</td>
                            <td>D:\WebSite\HanXiPuTai.com\XinYiCMS.Web\</td>
                        </tr>
                        <tr>
                            <td>服务器操作系统</td>
                            <td>Microsoft Windows NT 5.2.3790 Service Pack 2</td>
                        </tr>
                        <tr>
                            <td>系统所在文件夹</td>
                            <td>C:\WINDOWS\system32</td>
                        </tr>
                        <tr>
                            <td>服务器脚本超时时间</td>
                            <td>30000秒</td>
                        </tr>
                        <tr>
                            <td>服务器的语言种类</td>
                            <td>Chinese (People's Republic of China)</td>
                        </tr>
                        <tr>
                            <td>.NET Framework 版本</td>
                            <td>2.050727.3655</td>
                        </tr>
                        <tr>
                            <td>服务器当前时间</td>
                            <td>2014-6-14 12:06:23</td>
                        </tr>
                        <tr>
                            <td>服务器IE版本</td>
                            <td>6.0000</td>
                        </tr>
                        <tr>
                            <td>服务器上次启动到现在已运行</td>
                            <td>7210分钟</td>
                        </tr>
                        <tr>
                            <td>逻辑驱动器</td>
                            <td>C:\D:\</td>
                        </tr>
                        <tr>
                            <td>CPU 总数</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>CPU 类型</td>
                            <td>x86 Family 6 Model 42 Stepping 1, GenuineIntel</td>
                        </tr>
                        <tr>
                            <td>虚拟内存</td>
                            <td>52480M</td>
                        </tr>
                        <tr>
                            <td>当前程序占用内存</td>
                            <td>3.29M</td>
                        </tr>
                        <tr>
                            <td>Asp.net所占内存</td>
                            <td>51.46M</td>
                        </tr>
                        <tr>
                            <td>当前Session数量</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>当前SessionID</td>
                            <td>gznhpwmp34004345jz2q3l45</td>
                        </tr>
                        <tr>
                            <td>当前系统用户名</td>
                            <td>NETWORK SERVICE</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {/block}
        </article>
        <footer class="footer Hui-admin-footer">
            <p>
                感谢Thinkphp、jQuery、layer、laypage、Validform、UEditor、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
                Copyright &copy;2015-2025 wavlink v1.0 All Rights Reserved.<br> 本后台系统由<a href="http://www.wavlink.com/"
                                                                                           target="_blank"
                                                                                           title="H-wavlink 系统管理"><b>市场部-信息组</b></a>提供技术支持
            </p>
        </footer>
    </div>

</section>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/layer/3.1.1/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__ADMIN__/h-ui.admin.pro/js/h-ui.admin.pro.js"></script>
<!--/_footer /作为公共模版分离出去-->
{block name="script"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/business/js/main.js"></script>
{/block}
</body>
</html>
