<header id="g-header">
    <div class="container">
        <div class="row">
            <a href="#">
                <img src="__HOME__/img/robots.png" alt="">
            </a>
            <h1>{$setting.title}</h1>
            <div class="des">{$setting.slogan}</div>
            <ul class="count">
                <li class="item">
                    <span class="num">{notempty name="ArticleCounts"}{$ArticleCounts}{else /}0{/notempty}</span>
                    <span class="tit">{:lang('articles')}</span>
                </li>
                <li class="item">
                    <span class="num">0</span>
                    <span class="tit">{:lang('messages')}</span>
                </li>
                <li class="item">
                    <span class="num">1772948</span>
                    <span class="tit">{:lang('placeholder')}</span>
                </li>
                <li class="item">
                    <span class="num">1772948</span>
                    <span class="tit">{:lang('placeholder')}</span>
                </li>
            </ul>
        </div>
    </div>
</header>