<div class="g-nav">
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/{$lang_var}/main.html">
                    <img src="__HOME__/img/logo.png" alt="">
                </a>
            </div>
            <span class="visible-xs menu-bar iconfont icon-menu" id="open-menu"></span>
            <!--<span class="search-bar iconfont icon-search"></span>-->
            <ul class="menu nav navbar-nav" id="menu">
                <li class="menu-item" id="home">
                    <a href="/{$lang_var}/main.html">{:lang('home')}</a>
                </li>
                {notempty name="CatalogTree"}
                {volist name="CatalogTree" id="vo"}
                {notempty name="$vo.child"}
                <li class="menu-item dropdown" id="{$vo.url_title}">
                    <a href="/{$lang_var}/article/{$vo.url_title}/index.html" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">{$vo.name}
                        <span class="iconfont icon-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {volist name="vo.child" id="co"}
                        <li id="{$co.url_title}"><a href="/{$lang_var}/article/{$co.url_title}/index.html">{$co.name}</a></li>
                        {/volist}
                        <li class="{$vo.url_title}"><a href="/{$lang_var}/article/{$vo.url_title}/index.html" >{:lang('All')} {$vo.name}</a></li>
                    </ul>
                </li>
                {else /}
                <li class="menu-item" id="{$vo.url_title}">
                    <a href="/{$lang_var}/article/{$vo.url_title}/index.html">{$vo.name}</a>
                </li>
                {/notempty}
                {/volist}
                {/notempty}
                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{:lang('language')}
                        <span class="iconfont icon-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {notempty name="languageList"}
                        {volist name="languageList" id="vo"}
                        <li><a href="/language/{$vo.code}.html">{$vo.name}</a></li>
                        {/volist}
                        {/notempty}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>