{extend name="base:base-add" /}
{block name="style"}
<link rel="stylesheet" href="__LIB__/webuploader/0.1.5/webuploader.css">
{/block}
{block name="title"}
<title>添加文件</title>
{/block}
{block name="form"}
<form class="form form-horizontal" id="form-article-add">
    <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-2">文件列表：</label>
        <div class="formControls col-xs-8 col-sm-10">
            <div class="uploader-thum-container">
                <div id="fileList" class="uploader-list"></div>
                <div id="filePicker">选择文件</div>
                <button id="btn-star" type="button" class="btn btn-default btn-uploadstar radius ml-10">开始上传</button>
            </div>
            <div id="imageInput">
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-10 col-sm-10 col-xs-offset-4 col-sm-offset-2">
            <button class="btn btn-secondary radius add" type="button"><i class="Hui-iconfont">&#xe632;</i>
                保存
            </button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript" src="__LIB__/webuploader/0.1.5/webuploader.js"></script>
<script type="text/javascript">
    $(function () {
        var $list = $("#fileList");
        var $btn = $("#btn-star");
        var $imageInput = $("#imageInput");
        var state = "pending";
        uploader;
        var uploader = WebUploader.create({
            auto: false,
            swf: '__LIB__/webuploader/0.1.5/Uploader.swf',
            // 文件接收服务端。
            server: '/wavlink/aws/uploader.html',
            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: {
                id: '#filePicker',
                label: '选择文件',
            },
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            method: 'POST',
            // fileNumLimit: 1,
            // 只允许选择图片文件。
            accept: {
                title: 'Files',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        uploader.on('fileQueued', function (file) {
            var $li = $(
                '<div id="' + file.id + '" class="item" style="display: inline-block; margin: 10px">' +
                '<div class="pic-box"><img></div>' +
                '<div class="info" style="width: 120px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden" title="' + file.name + '">' + file.name + '</div>' +
                '<p class="state">等待上传...</p>' +
                '</div>'
                ),
                $img = $li.find('img');
            $list.append($li);
            // 创建缩略图
            // 如果为非图片文件，可以不用调用此方法。
            // thumbnailWidth x thumbnailHeight 为 100 x 100
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }
                $img.attr('src', src);
            }, 100, 100);
        });
        // 文件上传过程中创建进度条实时显示。 percentage : 就是进度数字
        uploader.on('uploadProgress', function (file, percentage) {
            var $li = $('#' + file.id),
                $percent = $li.find('.progress-box .sr-only');
            // 避免重复创建
            if (!$percent.length) {
                $percent = $('<div class="progress-box"><span class="progress-bar radius"><span class="sr-only" style="width:0%"></span></span></div>').appendTo($li).find('.sr-only');
            }
            $li.find(".state").text("上传到亚马逊云");
            $percent.css('width', percentage * 100 + '%');
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, result) {
            $('#' + file.id).addClass('upload-state-success').find(".state").text("已上传至S3");
            var $input = $('<input type="hidden" name="aws_key" value="' + result._raw + '">');
            $imageInput.append($input);
        });

        // 文件上传失败，显示上传出错。
        uploader.on('uploadError', function (file, reason) {
            $('#' + file.id).addClass('upload-state-error').find(".state").text(reason);
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            $('#' + file.id).find('.progress-box').fadeOut();
        });
        uploader.on('all', function (type) {
            if (type === 'startUpload') {
                state = 'uploading';
            } else if (type === 'stopUpload') {
                state = 'paused';
            } else if (type === 'uploadFinished') {
                state = 'done';
            }
            if (state === 'uploading') {
                $btn.text('暂停上传');
            } else {
                $btn.text('开始上传');
            }
        });

        $btn.on('click', function () {
            if (state === 'uploading') {
                uploader.stop();
            } else {
                uploader.upload();
            }
        });
    });
    $(".add").click(function () {
        var postData = {};
        var data = $("form").serializeArray();
        $.each(data, function () {
            postData[this.value] = this.name
        });
        $.ajax({
            url: "/wavlink/static/images/upload.html",
            type: "post",
            data: postData,
            "success": function (result) {
                var msgData = JSON.parse(result);
                if (msgData.status === true) {
                    layer.msg(msgData.message, {icon: 1, time: 1000}, function () {
                        window.parent.location.href = msgData.url
                    })
                } else {
                    layer.msg(msgData.message, {icon: 5, time: 2000})
                }
            }
        }, JSON);
    });
</script>
{/block}