{extend name="base:base-add" /}
{block name="title"}
<title>添加语言</title>
{/block}
{block name="form"}
<form class="form form-horizontal" id="form-article-add">
    <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-2">语言名称：</label>
        <div class="form-controls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="name" name="name">
        </div>
    </div>
    <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-2">code：</label>
        <div class="form-controls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="code" name="code">
            <span>按照国家简码来写</span>
        </div>
    </div>
    <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-2">图标：</label>
        <div class="form-controls col-xs-8 col-sm-4">
            <input type="text" class="input-text" value="" placeholder="" id="icon" name="icon">
        </div>
    </div>
    <div class="row clearfix">
        <label class="form-label col-xs-4 col-sm-2">状态：</label>
        <div class="form-controls col-xs-8 col-sm-2">
            <span class="select-box">
                <select name="status" id="status" class="select" size="1">
                <option value="1">正常</option>
                <option value="2">禁用</option>
            </select>
            </span>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button class="btn btn-secondary radius add" type="button"><i class="Hui-iconfont">&#xe632;</i>
                保存
            </button>
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
    $(".add").click(function () {
        var postData = {};
        var data = $("form").serializeArray();
        $.each(data, function () {
            postData[this.name] = this.value
        });
        $.ajax({
            url: "/{$backendPrefix}/system/language/add.html",
            type: "post",
            data: postData,
            "success": function (result) {
                var msgData = JSON.parse(result);
                if (msgData.status === true) {
                    layer.msg(msgData.message, {icon: 1, time: 1000}, function () {
                        window.parent.location.href = msgData.url
                    })
                } else {
                    layer.msg(msgData.message, {icon: 5, time: 2000})
                }
            }
        }, JSON);
    });
</script>
{/block}